@model List<market.Models.Order>

<div  class="row my-2 position-static">
    <p id="tempDataMessage" class="position-static" style="color:red">
         @TempData["Message"]
    </p>
</div>

    <!DOCTYPE html>
<html lang="en">
    <head>
          <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">

    </head>
    <body>


<div class="row my-3">
    <div class="col-4">
        <input type="text" class="form-control text-success" placeholder="Search date(numbers)/Deliver Address/customers..." onkeyup="search(this.value)" />
    </div>
    <div class="col-2">
        <a class="btn btn-primary" href="@Url.Action("Create","Orders")" style="margin-left:10px">Create Orders</a>
    </div>
    <div class="col-2">
        <button class="btn btn-warning"  onclick="get()" style="margin-bottom: 10px;" >Get Orders</button>
    </div>
    
</div>
@*__________________________________________________________________
*@

<div class = "container">
        <div class="row test"></div>
    </div>

<div id="modal-container">
</div>
</body>
@section Scripts {
    <script>
        function get() {
            $.ajax({
                url: '@Url.Action("GetOrders", "Orders")',
                type: 'GET',
                dataType: 'json',
                beforeSend: function() {
                },
                success: function(response) {
                    if (response.success) {
                       $(".test").empty();
                        $.each(response.data, (index, item) => {
                            const date = new Date(item.orderDate);
                            const formattedDate = date.toLocaleString('en-US', { 
                                            year: 'numeric', 
                                            month: 'long', 
                                            day: 'numeric',
                                            hour: 'numeric',
                                            minute: 'numeric',
                                            second: 'numeric'
                                        });

                            $(".test").append(` <div class="col-md-4">
                                                        <!-- Widget: user widget style 2 -->
                                                        <div class="card card-widget widget-user-2" style="margin-top=20px">
                                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                                            <div class="widget-user-header bg-light" style="min-height:140px" >
                                                             <div class="float-right">
                                                                        <button class="btn btn-light" onclick="showModal('${item.id}')"
                                                                                style='font-size:13px;position: relative;top:-12px;'>
                                                                            <i class='fas fa-pen' style='font-size:10px;color:black; position: relative;top:0px;'></i>
                                                                        </button>
                                                             </div>
                                                             <div class="float-right">
                                                                       <button class="btn btn-light" onclick="del('${item.id}')"  
                                                                               style='font-size:13px;position: relative;top:-12px'>
                                                                                <i class='fas fa-trash' style='font-size:13px;color:black; position: relative;top:0px'></i>
                                                                       </button>
                                                             </div>
                                                             <div class="float-right">
                                                                         <button class="btn btn-light" onclick="showDetails('${item.id}')"
                                                                                    style='font-size:13px;position: relative;top:-12px'>
                                                                                <i class='fas fas fa-th' style='font-size:13px;color:black; position: relative;top:0px'></i>
                                                                       </button>
                                                             </div>
                                                            
                                                              <div class="float-right" style='top:-12px;'>
                                                                         <button class="btn btn-light" onclick="window.location.href='/Orders/Details/?id=${item.id}';"
                                                                                    style='font-size:13px;position: relative;top:-12px'>
                                                                                <i class='fas fa-cart-plus' style='font-size:13px;color:black; position: relative;top:0px'></i>
                                                                       </button>
                                                             </div>

                                                                <h5 class="widget-user-desc" style="margin-left:10px;"></br><b>Customer Name: </b></br>${item.customer.name}</h5>
                                                                <h5 class="widget-user-desc" style="margin-left:10px;"><b>Order date:</b></br>${formattedDate}</h5>
                                                               
                                                            </div>
                                                            <div class="card-footer p-0">
                                                                <ul class="nav flex-column">
                 
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- /.widget-user -->
                                                    </div>`)
                        })
                    }
                    else {
                        alert(response.message)
                    }
                },
                error: function(msg) {
                    console.error(msg);
                }
            })
        }
    </script>
    <script>
        function search(val) {
            $.ajax({
                url: '@Url.Action("Search", "Orders")' + '?value=' + val,
                type: 'GET',
                dataType: 'json',
                beforeSend: function () {
                    $('tbody').html('')
                },
                success: function (response) {
                    if (response.success) {
                         $(".test").empty();
                        $.each(response.data, (index, item) => {
                             const date = new Date(item.orderDate);
                            const formattedDate = date.toLocaleString('en-US', { 
                                            year: 'numeric', 
                                            month: 'long', 
                                            day: 'numeric',
                                            hour: 'numeric',
                                            minute: 'numeric',
                                            second: 'numeric'
                                        });

                            $(".test").append(` <div class="col-md-4">
                                                        <!-- Widget: user widget style 2 -->
                                                        <div class="card card-widget widget-user-2" style="margin-top=20px">
                                                            <!-- Add the bg color to the header using any of the bg-* classes -->
                                                            <div class="widget-user-header bg-light" style="min-height:140px" >
                                                             <div class="float-right">
                                                                        <button class="btn btn-light" onclick="showModal('${item.id}')"
                                                                                style='font-size:13px;position: relative;top:-12px;'>
                                                                            <i class='fas fa-pen' style='font-size:10px;color:black; position: relative;top:0px;'></i>
                                                                        </button>
                                                             </div>
                                                             <div class="float-right">
                                                                       <button class="btn btn-light" onclick="del('${item.id}')"  
                                                                               style='font-size:13px;position: relative;top:-12px'>
                                                                                <i class='fas fa-trash' style='font-size:13px;color:black; position: relative;top:0px'></i>
                                                                       </button>
                                                             </div>
                                                             <div class="float-right">
                                                                         <button class="btn btn-light" onclick="showDetails('${item.id}')"
                                                                                    style='font-size:13px;position: relative;top:-12px'>
                                                                                <i class='fas fas fa-th' style='font-size:13px;color:black; position: relative;top:0px'></i>
                                                                       </button>
                                                             </div>
                                                             
                                                              <div class="float-right" style='top:-12px;'>
                                                                         <button class="btn btn-light" onclick="window.location.href='/Orders/Details/?id=${item.id}';"
                                                                                    style='font-size:13px;position: relative;top:-12px'>
                                                                                <i class='fas fa-cart-plus' style='font-size:13px;color:black; position: relative;top:0px'></i>
                                                                       </button>
                                                             </div>

                                                                <h5 class="widget-user-desc" style="margin-left:10px;"></br><b>Customer Name: </b></br>${item.customer.name}</h5>
                                                                <h5 class="widget-user-desc" style="margin-left:10px;"><b>Order date:</b></br>${formattedDate}</h5>
                                                               
                                                            </div>
                                                            <div class="card-footer p-0">
                                                                <ul class="nav flex-column">
                 
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- /.widget-user -->
                                                    </div>`)
                        })
                    }
                    else {
                        alert(response.message)
                    }
                },
                error: function (msg) {
                    console.error(msg);
                }
            })
        }
    </script>
    <script>
        function showModal(id) {
            $.ajax({
                url: '@Url.Action("GetModal", "Orders")' + "?id=" + parseInt(id),
                type: 'GET',
                dataType: 'html',
                success: function(response) {
                    $('#modal-container').html(response); 
                    $('.modal').modal('show');
                    $.validator.unobtrusive.parse('form-id');
                    
                },
                error: function(msg) {
                    console.error(msg);
                }
            })
        }
    </script>
    <script>
        function del(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Orders")' + "?id=" + parseInt(id),
                type: 'GET',
                dataType: 'html',
                success: function(response) {
                    $('#modal-container').html(response); 
                    $('.modal').modal('show');
                    $.validator.unobtrusive.parse('form-id');
                    
                },
                error: function(msg) {
                    console.error(msg);
                }
            })
        }
    </script>
    <script>
        function view(id) 
        {
            window.location.href = '/Orders/Details/?id='+id;
        }
    </script>
    <script>
        setTimeout(function () {
            document.getElementById('tempDataMessage').innerHTML = '';
        }, 3000); // 3000 milliseconds = 3 sec
    </script>

 <script>

        function mysubmit(e) {
            e.preventDefault();

            var OldDiscount = document.getElementById('OldDiscount').value;
            var OldTax = document.getElementById('OldTax').value;
            var OldDeliveryPrice = document.getElementById('OldDeliveryPrice').value;
            var OldTotalPrice = document.getElementById('TotalPrice').value;
            var Discount = document.getElementById('Discount').value;
            var Tax = document.getElementById('Tax').value;
            var DeliveryPrice = document.getElementById('DeliveryPrice').value;
            var DeliveryAddress = document.getElementById('DeliveryAddress').value;
            var OrderDate = document.getElementById('OrderDate').value;
            var CustomerId = document.getElementById('CustomerId').value;
            var Id = document.getElementById('Id').value;
            var temptotalprice = (parseFloat(OldTotalPrice) - parseFloat(OldDeliveryPrice))/ (1- (parseFloat(OldDiscount))/100 + (parseFloat(OldTax))/100 );
            var TotalPrice =  temptotalprice -temptotalprice*parseFloat(Discount)/100 + temptotalprice*parseFloat(Tax)/100 +parseFloat(DeliveryPrice);
            let obj = {
                "Discount": Discount,
                "Tax": Tax,
                "Id": Id,
                "DeliveryPrice": DeliveryPrice,
                "DeliveryAddress": DeliveryAddress,
                "TotalPrice": TotalPrice,
                "OrderDate": OrderDate,
                "CustomerId": CustomerId,
            };
            $.ajax({
                url: '/Orders/Edit',
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: obj,
                //data: formData,
                success: function (response) {
                    if (response.success) {
                        window.location.href = '/Orders/Index';
                    } else {
                        $('#error').text('');

                        for (var fieldName in response.errors) {
                            var errorMessage = response.errors[fieldName];
                            $("#error").append(errorMessage + '<br>');
                        }

                    }
                },
                error: function () {
                    alert('An error occurred during the AJAX request.');
                }
            })
        }

    </script>
  

    <script>
        function showDetails(id) {
            $.ajax({
                url: '@Url.Action("GetDetails", "Orders")' + "?id=" + parseInt(id),
                type: 'GET',
                dataType: 'html',
                success: function(response) {
                    $('#modal-container').html(response); 
                    $('.modal').modal('show');
                    $.validator.unobtrusive.parse('form-id');
                    
                },
                error: function(msg) {
                    console.error(msg);
                }
            })
        }
    </script>
    <script>
         $('.swalDefaultInfo').click(function() {
      Toast.fire({
        icon: 'info',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    </script>


    
    
}
</html>